*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cruz{
    width: 50%;
    height: auto;
    justify-content: right;
    opacity: 0,2;
}
.cierre{
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}

body {
    background-color:gainsboro;
    font-family: 'Roboto', sans-serif;
}

.first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box1{
    width: 432px;
    height: 399px;
    background-color: #ffff;
    border-radius: 3%;
    margin-top: 20px;
}

.img1{
    width: 140px;
    height: 100px;
    margin: 40px auto 20px;
}

.img-1{
    width: 140px;
    height: 100%;
}


p{
    width: 327px;
    height: 72px;
    text-align: center;
    font-size: 18px;
    margin: 15px auto 15px;
}

.boton{
   text-align: center;
}
.ok{
    background-color: #ed6775;
    border: none;
    line-height: 21px;
    box-shadow: 5px 5px 20px 0px #ed6775;
    border-radius: 8px;
    cursor: pointer;
}
h1{
    margin: 15px 60px;
    color: white;
    font-size: 12px;
}

.box2{
    width: 432px;
    height: 399px;
    background-color: #ffff;
    border-radius: 3%;
    margin-top: 20px;
}

.img2{
    width: 100px;
    height: 100px;
    margin: 20px auto 20px;
}

.img-2{
    width: 100px;
    height: 100%;
}
 .p2{
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 18px;
    margin: auto;
 }
.boton2{
    text-align: center;
}
 .sesion{
    background-color: #2c3e50;
    border: none;
    line-height: 21px;
    box-shadow: 5px 5px 20px 0px #2c3e50;
    border-radius: 8px;
    cursor: pointer;
}

